{% extends "contentsboard/_base.html" %}
{% load static from staticfiles %} 
{% block css %}
<link href="{% static 'css/contents_write.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Professor Development Contents{% endblock %}

{% block table %}
<div class="row mt-5">
  <div class="col-12">
    <form method="POST" action=".">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id.for_label }}">{{ field.label }}</label>
        {% if field.name == 'tags' %}
        <!-- {% csrf_token %}  -->
        {{ field }}
        {% elif field.name == 'category' %}
        {{ field }}
        {% else %}
        <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id.for_label }}"
          placeholder="{{ field.label }}" name="{{ field.name }}">
        {% endif %}
      </div>
      {% if field.error %}
      {% endif %}
      <span style="color:red">{{ field.errors }}</span>
      {% endfor %}
      <button type="submit" class="btn btn-primary">글쓰기</button>
      <button type="button" class="btn btn-primary" onclick="location.href='/contents/mail_list/'">돌아가기</button>
    </form>
  </div>
</div>
{% endblock %}