.form-control {
    border-radius: 5px;
}

.form-group textarea {
    height: 20rem;
}

label {
    display: block;
}

#id_tags {
    width : 20%;
    height : 20rem;
    border-radius: 5px;
}

#id_category{
    width : 100%;
    height : 2.5rem;
    border-radius: 5px;
}

#id_invest_stage{
    width : 100%;
    height : 2.5rem;
    border-radius: 5px;
}